.navigation-button {
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.current-tab {
    font-size: 32px;
    -unity-font-style: bold;
}
