.item-slot {
    width: 30px;
    height: 30px;
    color: rgba(0, 0, 0, 255);
    background-color: rgba(209, 209, 209, 255);
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}
